.profession {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #222836 0%, #293146 100%);
}
@font-face {
    font-family: "Gputeks";
    src: url("../font/Gputeks-Regular.woff2") format("woff2"),
           url("../font/Gputeks-Regular.woff") format("woff");
} 
*{
    font-family: Gputeks;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 30px;
}
h1{
    font-size: 6rem;
    line-height: 6rem;
}
h2{
    font-size: 2rem;
    line-height: 2rem;
}
p{
    font-size: 1rem;
    line-height: 1rem;
}
.profession-title {
    width: 1315px;
    margin:auto;
    padding: 100px 140px 0 140px;
    display: flex;
    color: white;
}
.profession-type-frame{
    position: relative;
    height: 2rem;
    overflow: hidden;
    flex-grow: 1;
}
.profession-type-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    color:#FD9B40;
    list-style: none;
     animation: proffesion-changer 3s linear 0s infinite;
}
.profession-type {
    font-size: 2rem;
    line-height: 2rem;
}


.profession-cards {
    width: 100%;
}
.profession-cards-container {
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1315px;
  }
.profession-card {
    position: relative;
    background: #39435C;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 340px;
}
.prof-card-logo {
    height: 200px;
}
.prof-card-title {
    color: white;
    font-size: 1rem;
}
.profession-card summary{
    color: #FD9B40;
    font-size: 1rem;
}
.profession-card details{
    color: white;
    font-size:0.5rem
}
.profession-card details[open]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #39435C;
    padding: 50px 30px;
}
.profession-card:nth-of-type(2){
    transform: scale(1.1);
    border:2px solid white;
}
.quotes {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: url("../img/section-3-bg.svg") bottom/100% no-repeat, 
    linear-gradient(358.26deg, #242A3A -2.15%, #2A3348 98%);
    padding-bottom: 50px;
}
.quotes-text {
    width: 1315px;
    color: white;
    padding-top: 40px;
    margin:auto;
    text-align: center;
}
.quotes-link {
    width: 1315px;
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
}
.quotes-link:visited{
    color: #363D53;
 }

.quote-element:lang(ru){
    color:white;
}
.quote-element:lang(en) q{
   color:#FFDEB7;
}
.quotes-body{
    padding: 110px 113px;
    margin: auto;
    margin-top: 100px;
    background: #353F5A;
    width: 1315px;
    list-style:none;
}
.quote-author {
    color: #FD9B40;
    margin-top: 50px;
    text-align: end;
}
.quote-element:last-of-type{
    margin-top: 150px;
}
.form {
    width: 100%;
    min-height: 100vh;
    background: #FFB762;
    padding: 286px 303px;
}
.form-body{
    max-width: 1315px;
    background: #353F5A;
    display: flex;
    flex-direction: column;
}
.form-header {
    background: #202535;
    padding: 64px 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    line-height: 2rem;
}
input:not([type='checkbox']){
    max-width: 1004px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #202535;
    background:#303854;
    margin: auto;
    font-size: 1rem;
    margin-top: 53px;
}
input:last-of-type{
    width: 60px;
    height: 60px;
    border: 2px solid #202535;
    margin:50px auto;
}
label{
    text-align: center;
    max-width: 1315px;
    color: white;
}
.submit {
    margin: 130px auto;
    width: 526px;
    height: 115px;
    background: #4B5A82;
    border: none;
    font-size: 1rem;
    color:white;
}
input:focus{
    border: 2px solid #FD9B40;
    outline: none;
}
.back{
    position: fixed;
    top: 70px;
    left: 0;
    width: 236px;
    padding: 34px 0;
    background: #39435C;
    text-align: center;
    text-decoration: none;
    color: white;
}



@keyframes proffesion-changer {
    100%{
        top: -6rem;
    }
}
